.picker {
  margin-bottom: 1.5rem;
}
.controls {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.input {
  display: none;
}
.button {
  border: 0;
  padding: 0.5rem 1.5rem;
  background: #a4abb9;
  color: 121212;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
}
.button:hover,
.button:focus {
  background: #b3b9c6;
}
.preview {
  width: 10rem;
  height: 10rem;
  border: 2px solid #a4abb9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a4abb9;
  position: relative;
}
.preview img {
  object-fit: cover;
}
